.edit-form__data-container {
    width: fit-content;
    width: -mz-fit-content;
    height: fit-content;
    height: -mz-fit-content;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 8px;
    row-gap: 8px;
}